HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
*.jar
node_modules/
packages/data/
data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
