<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.padual.com/java/logback.xsd" scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{YYYY-MM-dd HH:mm:ss}] [%-5p] [%F:%L] %m%n</Pattern>
        </layout>
    </appender>
    
    <!-- TRACE | DEBUG | INFO | WARN | ERROR -->
 
 	<!-- Spring Framework -->
    <logger name="org.springframework" level="ERROR" />
 	
 	<!-- com.ryum -->
    <logger name="com.ryum" level="INFO" />
    
    <!-- ROOT -->
    <root level="WARN">
        <appender-ref ref="console" />
    </root>
    
</configuration>